# Build output
build/
build-release/
build-check/
cmake-build-*/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Compiled objects
*.o
*.a
*.so
*.so.*

# Cache
.cache/
compile_commands.json

# md
log.md
log sap.md
study.md


# doc
docs